In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/Sale Report.csv')

In [3]:
df.head()

   index       SKU Code Design No.  Stock       Category Size Color
0      0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1      1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2      2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3      3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4      4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red

In [4]:
#count of each sku code sort decending print all value
df['SKU Code'].value_counts()

#REF!                15
PJNE3404-KR-4XL       2
PJNE3404-KR-5XL       2
PJNE3405-KR-6XL       2
PJNE3405-KR-5XL       2
                     ..
JAN8634-KR-NP-L       1
JAN8633-KR-NP-XXL     1
JAN8633-KR-NP-XL      1
JAN8633-KR-NP-S       1
SET462-KR-NP-XXXL     1
Name: SKU Code, Length: 9170, dtype: int64

In [5]:
#drop sku code that is #REF
df = df[df['SKU Code'] != '#REF!']

In [6]:
df['SKU Code'].value_counts()

PJNE3404-KR-4XL      2
PJNE3405-KR-6XL      2
PJNE3405-KR-5XL      2
PJNE3404-KR-5XL      2
AN201-RED-L          1
                    ..
JAN8634-KR-NP-L      1
JAN8633-KR-NP-XXL    1
JAN8633-KR-NP-XL     1
JAN8633-KR-NP-S      1
SET462-KR-NP-XXXL    1
Name: SKU Code, Length: 9169, dtype: int64

In [7]:
#drop duplicate sku code
df = df.drop_duplicates(subset=['SKU Code'])

In [8]:
df['SKU Code'].value_counts()

AN201-RED-L          1
JNE3813-KR-XXL       1
JNE3811-KR-XXXL      1
JNE3813-KR-L         1
JNE3813-KR-M         1
                    ..
JAN8634-KR-NP-M      1
JAN8634-KR-NP-L      1
JAN8633-KR-NP-XXL    1
JAN8633-KR-NP-XL     1
SET462-KR-NP-XXXL    1
Name: SKU Code, Length: 9169, dtype: int64

In [9]:
df.head()

   index       SKU Code Design No.  Stock       Category Size Color
0      0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1      1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2      2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3      3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4      4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red

In [10]:
#save to csv
df.to_csv('./data/Cleaned Sale Report.csv', index=False)