In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('./data/datetime_amazon_sale_report.csv')

In [17]:
destination_dim = pd.DataFrame()
#from df get only columns sku, product_size, product_style, product_category, asin and use inplace = True
df = df[['ship_city','ship_state','ship_postal_code','ship_country']]

df.head()

          ship_city      ship_state  ship_postal_code ship_country
0   West Deniseland       Minnesota             26450          USA
1  New Cesarborough        Nebraska             96610          USA
2       Matthewtown        Arkansas              3375          USA
3        Bentonstad  North Carolina             78970          USA
4     West Kimberly         Florida             24216          USA

In [18]:
#show number of rows in df
print(df.shape[0])
#show number of unique values in df
print(df.nunique())

121269
ship_city           25997
ship_state             50
ship_postal_code    40691
ship_country            1
dtype: int64

In [19]:
#get all unique row in df
destination_dim = df.drop_duplicates()
print(destination_dim.shape[0])

52410

In [20]:
#show ship_city that contains Aaronburgh
print(df[df['ship_city'].str.contains('Alvarezfort')])

         ship_city    ship_state  ship_postal_code ship_country
2840   Alvarezfort        Oregon             87685          USA
26514  Alvarezfort  North Dakota             42234          USA
48859  Alvarezfort  North Dakota             42234          USA
56695  Alvarezfort  North Dakota             42234          USA
66441  Alvarezfort        Oregon             87685          USA
72825  Alvarezfort  North Dakota             42234          USA

In [21]:
print(destination_dim[destination_dim['ship_city'].str.contains('Alvarezfort')])

         ship_city    ship_state  ship_postal_code ship_country
2840   Alvarezfort        Oregon             87685          USA
26514  Alvarezfort  North Dakota             42234          USA

In [22]:
destination_dim.to_csv('./dimensions/destination_dim.csv', index=False)