# Create Product Dim Data

In [73]:
import pandas as pd
import numpy as np

# Product dim csv file

In [74]:
df = pd.read_csv('./data/datetime_amazon_sale_report.csv')

In [75]:
product_dim = pd.DataFrame()
df = df[['sku', 'size', 'style', 'category', 'asin']]

product_dim = df.drop_duplicates(subset=['sku'])

In [76]:
print(df.shape)
print(product_dim.shape)

(121269, 5)
(6617, 5)

In [77]:
print(df['sku'].value_counts().head(10))
print(df['asin'].value_counts().head(10))
print(df['sku'].nunique())
print(df['asin'].nunique())

JNE3797-KR-L      773
JNE3797-KR-M      657
JNE3797-KR-S      587
JNE3405-KR-L      535
J0230-SKD-M       507
JNE3797-KR-XL     474
J0230-SKD-S       452
JNE3405-KR-S      443
JNE3797-KR-XS     431
JNE3797-KR-XXL    395
Name: sku, dtype: int64
B09SDXFFQ1    773
B09SDY8DCT    657
B09SDYQ3WG    587
B081WSCKPQ    535
B08XNJG8B1    507
B09SDXRYBG    474
B08XNJ19QH    452
B081WX4G4Q    443
B09SDY9SQ6    431
B09SDXSQ33    395
Name: asin, dtype: int64
6617
6620

In [78]:
product_dim.head()

               sku size    style       category        asin
0   SET389-KR-NP-S    S   SET389            Set  B09KXVBD7Z
1  JNE3781-KR-XXXL  3XL  JNE3781          kurta  B09K3WFS32
2    JNE3371-KR-XL   XL  JNE3371          kurta  B07WV4JV4D
3       J0341-DR-L    L    J0341  Western Dress  B099NRCT7B
4  JNE3671-TU-XXXL  3XL  JNE3671            Top  B098714BZP

In [79]:
product_dim.nunique()

sku         6617
size          11
style       1240
category       8
asin        6616
dtype: int64

In [80]:
product_dim[product_dim['asin'].duplicated(keep=False)].sort_values('asin').head(10)

                   sku size  style category        asin
33841  AN208-MUSTARD-M    M  AN208   Bottom  B091GNW3B1
60234  CH208-MUSTARD-M    M  CH208   Bottom  B091GNW3B1

## Create some change to represent SGD

In [81]:
product_dim

                    sku size    style       category        asin
0        SET389-KR-NP-S    S   SET389            Set  B09KXVBD7Z
1       JNE3781-KR-XXXL  3XL  JNE3781          kurta  B09K3WFS32
2         JNE3371-KR-XL   XL  JNE3371          kurta  B07WV4JV4D
3            J0341-DR-L    L    J0341  Western Dress  B099NRCT7B
4       JNE3671-TU-XXXL  3XL  JNE3671            Top  B098714BZP
...                 ...  ...      ...            ...         ...
119824       J0286-KR-L    L    J0286          kurta  B08PV2GZ9Z
119976      J0319-KR-XL   XL    J0319          kurta  B08PV3R8YL
120439    JNE3398-KR-XL   XL  JNE3398          kurta  B082W81KNG
120848     JNE3370-KR-S    S  JNE3370          kurta  B081X6MVKK
121056   JNE3678-TU-XXL  XXL  JNE3678            Top  B0943HSR64

[6617 rows x 5 columns]

In [82]:
for index, row in product_dim.iterrows():
    random_number = np.random.randint(1, 100)
    random_row = np.random.randint(0, len(product_dim)-1)
    
    if(random_number < 5):
        random_row_product_dim = product_dim.iloc[random_row]
        product_dim = product_dim.append(random_row_product_dim, ignore_index=True)

/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_48561/3088117168.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_dim = product_dim.append(random_row_product_dim, ignore_index=True)

In [83]:
product_dim

                  sku size    style       category        asin
0      SET389-KR-NP-S    S   SET389            Set  B09KXVBD7Z
1     JNE3781-KR-XXXL  3XL  JNE3781          kurta  B09K3WFS32
2       JNE3371-KR-XL   XL  JNE3371          kurta  B07WV4JV4D
3          J0341-DR-L    L    J0341  Western Dress  B099NRCT7B
4     JNE3671-TU-XXXL  3XL  JNE3671            Top  B098714BZP
...               ...  ...      ...            ...         ...
6899    MEN5007-KR-XL   XL  MEN5007          kurta  B08YYWG825
6900    J0112-TP-XXXL  3XL    J0112            Top  B08V1RWYZ2
6901   JNE3669-TU-XXL  XXL  JNE3669            Top  B09B3GVP53
6902       J0104-KR-S    S    J0104          kurta  B08BJQ4CN7
6903     JNE3548-KR-M    M  JNE3548          kurta  B08MXD7WBP

[6904 rows x 5 columns]

In [84]:
product_dim.to_csv('./dimensions/product_dim.csv', index=False)