In [15]:
import pandas as pd
import numpy as np

# Product dim csv file

In [16]:
df = pd.read_csv('./data/datetime_amazon_sale_report.csv')

In [17]:
product_dim = pd.DataFrame()
#from df get only columns sku, product_size, product_style, product_category, asin and use inplace = True
df = df[['sku', 'size', 'style', 'category', 'asin']]

# get all row that have unique SKU
product_dim = df.drop_duplicates(subset=['sku'])

In [18]:
#show the number of ow of df and product_dim
print(df.shape)
print(product_dim.shape)

(121269, 5)
(6617, 5)

In [19]:
#count how many sku are duplicated in df
print(df['sku'].value_counts().head(10))
#count how many asin are duplicated in df
print(df['asin'].value_counts().head(10))
#how may sku and asin are unique
print(df['sku'].nunique())
print(df['asin'].nunique())

JNE3797-KR-L      773
JNE3797-KR-M      657
JNE3797-KR-S      587
JNE3405-KR-L      535
J0230-SKD-M       507
JNE3797-KR-XL     474
J0230-SKD-S       452
JNE3405-KR-S      443
JNE3797-KR-XS     431
JNE3797-KR-XXL    395
Name: sku, dtype: int64
B09SDXFFQ1    773
B09SDY8DCT    657
B09SDYQ3WG    587
B081WSCKPQ    535
B08XNJG8B1    507
B09SDXRYBG    474
B08XNJ19QH    452
B081WX4G4Q    443
B09SDY9SQ6    431
B09SDXSQ33    395
Name: asin, dtype: int64
6617
6620

In [20]:
product_dim.head()

               sku size    style       category        asin
0   SET389-KR-NP-S    S   SET389            Set  B09KXVBD7Z
1  JNE3781-KR-XXXL  3XL  JNE3781          kurta  B09K3WFS32
2    JNE3371-KR-XL   XL  JNE3371          kurta  B07WV4JV4D
3       J0341-DR-L    L    J0341  Western Dress  B099NRCT7B
4  JNE3671-TU-XXXL  3XL  JNE3671            Top  B098714BZP

In [21]:
#count the number of unique value in each column in product_dim
product_dim.nunique()

sku         6617
size          11
style       1240
category       8
asin        6616
dtype: int64

In [22]:
#show asin that is duplocate
product_dim[product_dim['asin'].duplicated(keep=False)].sort_values('asin').head(10)

                   sku size  style category        asin
33841  AN208-MUSTARD-M    M  AN208   Bottom  B091GNW3B1
60234  CH208-MUSTARD-M    M  CH208   Bottom  B091GNW3B1

In [23]:
#save product_dim to csv in dimensions folder
product_dim.to_csv('./dimensions/product_dim.csv', index=False)