# Create Product Dim Data

In [428]:
import pandas as pd
import numpy as np

# Product dim csv file

In [429]:
df = pd.read_csv('./data/datetime_amazon_sale_report.csv')

In [430]:
product_dim = pd.DataFrame()
df = df[['sku', 'size', 'style', 'category', 'asin']]

product_dim = df.drop_duplicates(subset=['sku'])

In [431]:
print(df.shape)
print(product_dim.shape)

(121269, 5)
(6617, 5)

In [432]:
print(df['sku'].value_counts().head(10))
print(df['asin'].value_counts().head(10))
print(df['sku'].nunique())
print(df['asin'].nunique())

JNE3797-KR-L      773
JNE3797-KR-M      657
JNE3797-KR-S      587
JNE3405-KR-L      535
J0230-SKD-M       507
JNE3797-KR-XL     474
J0230-SKD-S       452
JNE3405-KR-S      443
JNE3797-KR-XS     431
JNE3797-KR-XXL    395
Name: sku, dtype: int64
B09SDXFFQ1    773
B09SDY8DCT    657
B09SDYQ3WG    587
B081WSCKPQ    535
B08XNJG8B1    507
B09SDXRYBG    474
B08XNJ19QH    452
B081WX4G4Q    443
B09SDY9SQ6    431
B09SDXSQ33    395
Name: asin, dtype: int64
6617
6620

In [433]:
product_dim.head()

               sku size    style       category        asin
0   SET389-KR-NP-S    S   SET389            Set  B09KXVBD7Z
1  JNE3781-KR-XXXL  3XL  JNE3781          kurta  B09K3WFS32
2    JNE3371-KR-XL   XL  JNE3371          kurta  B07WV4JV4D
3       J0341-DR-L    L    J0341  Western Dress  B099NRCT7B
4  JNE3671-TU-XXXL  3XL  JNE3671            Top  B098714BZP

In [434]:
product_dim.nunique()

sku         6617
size          11
style       1240
category       8
asin        6616
dtype: int64

In [435]:
product_dim[product_dim['asin'].duplicated(keep=False)].sort_values('asin').head(10)

                   sku size  style category        asin
33841  AN208-MUSTARD-M    M  AN208   Bottom  B091GNW3B1
60234  CH208-MUSTARD-M    M  CH208   Bottom  B091GNW3B1

In [436]:
product_dim.to_csv('./dimensions/product_dim_file.csv', index=False)

## Create some change to represent SCD

In [437]:
product_dim

                    sku size    style       category        asin
0        SET389-KR-NP-S    S   SET389            Set  B09KXVBD7Z
1       JNE3781-KR-XXXL  3XL  JNE3781          kurta  B09K3WFS32
2         JNE3371-KR-XL   XL  JNE3371          kurta  B07WV4JV4D
3            J0341-DR-L    L    J0341  Western Dress  B099NRCT7B
4       JNE3671-TU-XXXL  3XL  JNE3671            Top  B098714BZP
...                 ...  ...      ...            ...         ...
119824       J0286-KR-L    L    J0286          kurta  B08PV2GZ9Z
119976      J0319-KR-XL   XL    J0319          kurta  B08PV3R8YL
120439    JNE3398-KR-XL   XL  JNE3398          kurta  B082W81KNG
120848     JNE3370-KR-S    S  JNE3370          kurta  B081X6MVKK
121056   JNE3678-TU-XXL  XXL  JNE3678            Top  B0943HSR64

[6617 rows x 5 columns]

In [438]:
product_dim['category'].unique()

array(['Set', 'kurta', 'Western Dress', 'Top', 'Ethnic Dress', 'Bottom',
       'Saree', 'Blouse'], dtype=object)

In [439]:
1
2
3
4
5
6

6

In [440]:
for index, row in product_dim.iterrows():
    random_number = np.random.randint(1, 100)
    
    if(random_number <= 5):
        new_row = row.copy()
        new_row['style'] = 'new_style'
        product_dim = product_dim.append(new_row, ignore_index=True)

product_dim = product_dim.drop_duplicates(subset=['sku'], keep='last')
product_dim.reset_index(drop=True, inplace=True)

/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_48561/1686239019.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_dim = product_dim.append(new_row, ignore_index=True)

In [441]:
new_df = pd.DataFrame({
    'sku': ['UWAD-AA-1Z', 'UwU-1Z', 'Afqwqa-12-2Z', 'ShaAg-CHI-3Z', 'I-Luv-Dw-2023'],
    'size': ['S', 'M', 'Free', 'XL', '2XL'],
    'style': ['SET211', 'LoveDW', 'PR0j3ct', 'FuNn1', 'B19K3XFS39'],
    'category': ['Set', 'kurta', 'Western Dress', 'Top', 'Ethnic Dress'],
    'asin': ['asdfzx2qwex1', '123ad1wasfwefr', 'asoidfuaso8fd1', 'asdflasodf2', 'asdiofas21edv']
})

product_dim = product_dim.append(new_df, ignore_index=True)

/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_48561/3584195563.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_dim = product_dim.append(new_df, ignore_index=True)

In [442]:
product_dim.reset_index(drop=True, inplace=True)
product_dim

                  sku  size       style       category            asin
0      SET389-KR-NP-S     S      SET389            Set      B09KXVBD7Z
1     JNE3781-KR-XXXL   3XL     JNE3781          kurta      B09K3WFS32
2       JNE3371-KR-XL    XL     JNE3371          kurta      B07WV4JV4D
3          J0341-DR-L     L       J0341  Western Dress      B099NRCT7B
4     JNE3671-TU-XXXL   3XL     JNE3671            Top      B098714BZP
...               ...   ...         ...            ...             ...
6617       UWAD-AA-1Z     S      SET211            Set    asdfzx2qwex1
6618           UwU-1Z     M      LoveDW          kurta  123ad1wasfwefr
6619     Afqwqa-12-2Z  Free     PR0j3ct  Western Dress  asoidfuaso8fd1
6620     ShaAg-CHI-3Z    XL       FuNn1            Top     asdflasodf2
6621    I-Luv-Dw-2023   2XL  B19K3XFS39   Ethnic Dress   asdiofas21edv

[6622 rows x 5 columns]

In [443]:
product_dim[product_dim['style'] == 'new_style']

                 sku size      style       category        asin
6274  SET345-KR-NP-M    M  new_style            Set  B09KXV4BN8
6275   JNE3373-KR-XL   XL  new_style          kurta  B082W8BXW1
6276   J0401-DR-XXXL  3XL  new_style  Western Dress  B09SDXZBGX
6277    JNE3744-TU-S    S  new_style            Top  B0986ZHR9D
6278    JNE3579-KR-M    M  new_style          kurta  B08QGK2BS2
...              ...  ...        ...            ...         ...
6612     J0137-SET-M    M  new_style            Set  B091Z6HG48
6613  SET414-KR-NP-M    M  new_style            Set  B09Y3G5RBY
6614    JNE3394-KR-S    S  new_style          kurta  B083SMP2W2
6615      J0121-TP-S    S  new_style            Top  B08MYN1QTZ
6616         BL087-L    L  new_style         Blouse  B08424FRVR

[343 rows x 5 columns]

In [444]:
product_dim[product_dim['sku'] == 'SET264-KR-NP-XL']

               sku size   style category        asin
5  SET264-KR-NP-XL   XL  SET264      Set  B08YN7XDSG

In [445]:
product_dim.to_csv('./dimensions/changed_product_dim_file.csv', index=False)