In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('./data/datetime_amazon_sale_report.csv')

In [18]:
destination_dim = pd.DataFrame()
#from df get only columns sku, product_size, product_style, product_category, asin and use inplace = True
df = df[['ship_city','ship_state','ship_postal_code','ship_country']]

df.head()

          ship_city      ship_state  ship_postal_code ship_country
0   West Deniseland       Minnesota             26450          USA
1  New Cesarborough        Nebraska             96610          USA
2       Matthewtown        Arkansas              3375          USA
3        Bentonstad  North Carolina             78970          USA
4     West Kimberly         Florida             24216          USA

In [19]:
#show number of rows in df
print(df.shape[0])
#show number of unique values in df
print(df.nunique())

121269
ship_city           25997
ship_state             50
ship_postal_code    40691
ship_country            1
dtype: int64

In [20]:
#get all unique row in df
destination_dim = df.drop_duplicates()
print(destination_dim.shape[0])

52410

In [21]:
#show ship_city that contains Aaronburgh
print(df[df['ship_city'].str.contains('Alvarezfort')])

         ship_city    ship_state  ship_postal_code ship_country
2840   Alvarezfort        Oregon             87685          USA
26514  Alvarezfort  North Dakota             42234          USA
48859  Alvarezfort  North Dakota             42234          USA
56695  Alvarezfort  North Dakota             42234          USA
66441  Alvarezfort        Oregon             87685          USA
72825  Alvarezfort  North Dakota             42234          USA

In [22]:
print(destination_dim[destination_dim['ship_city'].str.contains('Alvarezfort')])

         ship_city    ship_state  ship_postal_code ship_country
2840   Alvarezfort        Oregon             87685          USA
26514  Alvarezfort  North Dakota             42234          USA

In [23]:
#add unique id to destination_dim
destination_dim['destination_id'] = np.arange(1,destination_dim.shape[0]+1)

<ipython-input-23-31ca903ae232>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  destination_dim['destination_id'] = np.arange(1,destination_dim.shape[0]+1)

In [24]:
destination_dim.head()

,ship_city,ship_state,ship_postal_code,ship_country,destination_id
0,West Deniseland,Minnesota,26450,USA,1
1,New Cesarborough,Nebraska,96610,USA,2
2,Matthewtown,Arkansas,3375,USA,3
3,Bentonstad,North Carolina,78970,USA,4
4,West Kimberly,Florida,24216,USA,5

In [25]:
destination_dim.to_csv('./dimensions/destination_dim.csv', index=False)

In [28]:
df_des = pd.read_csv('./dimensions/destination_dim_file.csv')

In [29]:
#print unique postal code in df_des and count them
print(df_des['ship_postal_code'].nunique())

40691

In [30]:
#how many postal code in df_des that is duplicated
print(df_des['destination_id'].value_counts().head(10))

1        1
34944    1
34934    1
34935    1
34936    1
34937    1
34938    1
34939    1
34940    1
34941    1
Name: destination_id, dtype: int64

In [32]:
#get row that has postal code 25348
print(df_des[df_des['destination_id'] == 25348])

        ship_city ship_state  ship_postal_code ship_country  destination_id
25347  Jonesshire     Hawaii              1093          USA           25348