In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('./data/generated_customer.csv')

In [14]:
df.columns

Index(['cid', 'name', 'lastname', 'email', 'phone', 'gender', 'birthdate',
       'city', 'state', 'postal_code', 'account_type', 'interested_topic'],
      dtype='object')

In [15]:
customer_address_file = pd.DataFrame()
df = df[['city', 'state', 'postal_code']]
#add new column named country that has all value 'USA'
df['country'] = 'USA'
df.head()

                city          state  postal_code country
0   Port Kristenstad       Michigan        82958     USA
1          Cindyview       Maryland        54400     USA
2     South Davidton     California        85439     USA
3          Clineberg  Massachusetts        46131     USA
4  North Josephburgh         Nevada        63360     USA

In [16]:
#show duplicate row
df[df.duplicated()]

Empty DataFrame
Columns: [city, state, postal_code, country]
Index: []

In [11]:
#length of df
print(len(df))
#get only unique rows
df = df.drop_duplicates()
print(len(df))

60633
60633

In [18]:
customer_address_file = df

#save to csv
customer_address_file.to_csv('./dimensions/customer_address_dim_file.csv', index=False)